@model BungalowProject.Data.Bungalow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bungalow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSmokingAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSmokingAllowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvalive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvalive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowsPets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowsPets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
