@model IEnumerable<BungalowProject.Data.Bungalow>

@{
    ViewData["Title"] = "Bungalows";
}

<style>
    body {
        background: url('https://i.redd.it/i-recreated-one-of-the-ai-generated-frutiger-aero-v0-siz7hsb2ez7a1.png?width=1920&format=png&auto=webp&s=e06aaf5d6aa7a036b65daa4860c4ad5bd68e9c4e') no-repeat center center fixed;
        background-size: cover;
        color: white;
        font-family: Arial, sans-serif;
    }
</style>

<h1>Bungalows</h1>

<p>
    <a asp-action="Create" class="linkedtext">Add new bungalow</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            Bungalow's ID    
            </th>
            <th>
                Capacity
            </th>
            <th>
                For Smokers
            </th>
            <th>
                IsAvalibe?
            </th>
            <th>
                For pets
            </th>
            <th>
                Location
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSmokingAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvalive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowsPets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                <a asp-action="Edit" class="linkedtext" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="linkedtext" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="linkedtext" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
