@model IEnumerable<BungalowProject.Data.Reservation>

@{
    ViewData["Title"] = "Reservation";
}

<style>
    body {
        background: url('https://i.redd.it/i-recreated-one-of-the-ai-generated-frutiger-aero-v0-siz7hsb2ez7a1.png?width=1920&format=png&auto=webp&s=e06aaf5d6aa7a036b65daa4860c4ad5bd68e9c4e') no-repeat center center fixed;
        background-size: cover;
        color: white;
        font-family: Arial, sans-serif;
    }
</style>


<h1>Reservations</h1>

<p>
    <a asp-action="Create" class="linkedtext">Create New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>
                Bungalow
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bungalow.Id)
            </td>
            <td>
                    <a asp-action="Edit" class="linkedtext" asp-route-id=" @item.Id">Edit</a> |
                    <a asp-action="Details" class="linkedtext"  asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="linkedtext"  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
